@import url('animacao.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  /* Paleta de cores complementares */
  --titulo: #2C33FA;
  --navbar: #2429C7;
  --section: #3B3D7A;
  --fundo: #16197A;
  --menu: #787DFB;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--fundo);
  font-family:Inter,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue', sans-serif;
  font-size: 15px;
}

h2 {
  text-align: center;
  margin: 40px auto;
  font-weight: bolder;
  padding: 20px;
  background: linear-gradient(to right, transparent, var(--titulo), transparent);
}

a{
  color:rgb(255 255 255 / 60%);
}
.principal a{
  color: var(--titulo);
}
/* Navegação Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: var(--navbar);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav li {
  display: inline-block;
  margin-left: 15px;
}

nav a {
  padding: 15px;
  color: white;
}

/* Menu hambúrguer */
#burguer {
  color: white;
  padding: 10px;
  display: none;
  background: none;
  outline: none;
  border: none;
}

/* MAIN */
main {
  background-color: white;
  margin: auto;
  min-width: 300px;
  max-width: 1200px;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}

/* Principal onde está o meu perfil */
.principal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #000;
  margin-top: 50px;
  padding-top: 60px;
}
.principal > p{
  font-style: italic;
}
.principal div{
  max-width: 460px;
  width: 100%;
}
.principal picture p{
  margin-top: 10px;
}
.principal h1,
.principal picture {
  flex-basis: calc(50% - 20px);
  max-width: 100%;
}
.principal h1{
  font-size: 50px;
}

.principal picture img {
  max-width: 100%;
  display: block;
  border-radius: 60px;
  border: 3px solid black;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.025);
}

.principal picture {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* Sobre mim */
.sobre {
  background-color: var(--section);
  border-radius: 15px;
  padding: 20px;
  margin: auto;
  max-width: 900px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.025);

}

.sobre>article {
  border-radius: 20px;
  text-align: justify;
  text-indent: 20px;
  line-height: 1.9;
  background-color: white;
  color: black;
  padding: 10px;
}

/* Habilidades */
.habilidades-container {
  background-color: var(--section);
  border-radius: 15px;
  display: grid;
  width: 100%;
}

.habilidades {
  background-color: var(--section);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  margin: auto;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
}

.habilidades > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 20px;
  justify-items: center;
}

.habilidades>ul:nth-child(2) li img {
  max-width: 90px;
}

.habilidades img {
  width: 4rem;
  height: 4rem; 
  object-fit: contain;
  display: block;
  margin: auto; 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
}

.habilidades > .descricao {
  grid-column: 1 / -1; /* ocupa tudo */
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  line-height: 1.6;
  text-align: justify;
}

/* Projetos */
.projetos {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-evenly;
  align-items: normal;
}
.projetos img {
  max-width: 100%;
  display: block;
}

.projetos > div img{
  margin-bottom: 10px;
  border-radius: 20px;
   border: none;
}

.projetos > div img{
  /* max-width: 50%; */
  margin: 15px auto;

}


.projetos > div:nth-child(1) img, .projetos > div:nth-child(2) img {
  max-width: 15rem;
}
.projetos > div:nth-child(1) img, .projetos > div:nth-child(4) img{
 border: 2px solid var(--fundo);
}
.projetos>div {
  color: white;
    margin: 10px;
    background-color: var(--section);
    max-width: 350px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
    padding: 20px;
}
.projetos > div p{
  margin: 10px auto;
}
.projetos h2{
  margin: 0;
  background: none;
}

/* Comentários */
.comentarios{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  max-width: 500px;
  background-color: gray;border-radius: 10px;
  padding: 20px;
  width: 100%;
  color: white;
  margin: auto;
  margin-bottom: 30px;
}
.comentarios div {
  font-size: 14px;
  font-style: italic;
  grid-row: 3;

}
.comentarios p{
  background-color: var(--section);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  white-space: nowrap;
  border: 2px solid black;
  box-shadow: -3px 3px 3px #0707075d, -6px 5px 5px #2b262641;
}
.comentarios > p.segundoParagrafo {
  white-space: normal;
  width: 295px;
  max-width: 100%;
  margin-bottom: 10px;
}



.comentarios p, .comentarios div, .comentarios a{
  text-align: left; 

}
.comentarios span{
  max-width: 100%;
  text-align: center;
  grid-row: 3;
  font-weight: bolder;
}
.comentarios span span{
  color: white;
  text-shadow: 3px 2px 5px #0000007a;
}
.comentarios a{
  grid-column: 1 / span 2; 
  padding: 10px;
  color: var(--section) !important;
}

.comentarios .material-symbols-outlined::after {
  content: "\2605";
  color: yellow;
  text-shadow: 7px 1px 3px rgba(0, 0, 0, 0.28);
}
/* Formulário de contatos */
textarea {
  resize: none;
}

.container-form {
  display: flex;
  max-width: 600px;
  background-color: var(--section);
  border-radius: 15px;
  margin: auto;
}

.modeloFormulario {
  background-color: var(--fundo);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.025);
}

.modeloFormulario label,
.modeloFormulario h1 {
  color: white;
  font-weight: bold;
}

.modeloFormulario input,
.modeloFormulario textarea,
.modeloFormulario button {
  border-radius: 10px;
  margin: 15px auto;
  padding: 10px;
  width: 100%;
}

.modeloFormulario button {
  background-color: var(--titulo);
  cursor: pointer;
  border: none;
  font-weight: bolder;
  margin-bottom: 15px;
  padding: 14px;
  font-size: 16px;
  color: white;
}

/* Rodapé */
footer {
  text-align: center;
  background-color: var(--fundo);
  color: white;
  padding: 15px;
  margin-top: 15px;
  font-style: italic;
}

footer>div {
  font-size: 0.8em;
}

footer a {
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.342);
  margin: auto 20px;
}

footer a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(51, 19, 214);
}

